#include "rcstuff.h"
#include "putty-rc.h"

#define APPNAME "nterm"
#define APPDESC "NiTTY-style wrapper for Windows command prompts"

IDI_MAINICON ICON "nterm.ico"
IDI_CFGICON ICON "ntermcfg.ico"

#include "help.rc2"
#include "putty-common.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "putty.mft"
#endif /* NO_MANIFESTS */
