#include "rcstuff.h"
#include "putty-rc.h"

#define APPNAME "NiTTYtel"
#define APPDESC "Telnet and Rlogin client"

IDI_MAINICON ICON "nitty.ico"
IDI_CFGICON ICON "nittycfg.ico"

#include "help.rc2"
#include "putty-common.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "puttytel.mft"
#endif /* NO_MANIFESTS */
